#cloud-config
autoinstall:
  version: 1
  locale: en_US.UTF-8
  keyboard:
    layout: us
  apt:
    fallback: offline-install
    geoip: false
  network:
    version: 2
    ethernets:
      all-en-interfaces:
        match:
          name: "en*"
        dhcp4: true
  storage:
    layout:
      name: direct
  identity:
    hostname: ubuntu-template
    username: <SSH_USER>
    password: "CHANGE_ME_PASSWORD_HASH"
  ssh:
    install-server: true
    allow-pw: true
  shutdown: reboot
  user-data:
    disable_root: true
  late-commands:
    - echo "<SSH_USER> ALL=(ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/99-provisioner
    - chmod 0440 /target/etc/sudoers.d/99-provisioner
    - curtin in-target --target=/target -- systemctl enable ssh
