# ==============================================================================
# Sample Inventory for HAProxy & Keepalived
# ==============================================================================
all:
  vars:
    ansible_user: <SSH_USER>
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

  children:
    haproxy_cluster:
      hosts:
        srv-haproxy-01:
          ansible_host: 192.168.10.41
          keepalived_role: MASTER
          keepalived_priority: 101
        srv-haproxy-02:
          ansible_host: 192.168.10.42
          keepalived_role: BACKUP
          keepalived_priority: 100
